In [10]:
import csv
import nltk
import string
import pandas as pd

In [6]:
#read csv
train_csv = pd.read_csv("../en_project_csv/train.csv")
test_csv  = pd.read_csv("../en_project_csv/test.csv")

train_csv = pd.DataFrame(train_csv)
test_csv  = pd.DataFrame(test_csv)

train_csv.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [8]:
train_csv['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [9]:
train_csv.fillna('', inplace=True)

In [11]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [12]:
def remove_punctuation(text):
    punctuation_free = "".join([i for i in text if i not in string.punctuation])
    return punctuation_free


def tokenize(string):
    tokens = string.split()
    return tokens


train_csv['text']= train_csv['text'].apply(lambda x:remove_punctuation(x))
train_csv['text']= train_csv['text'].apply(lambda x: tokenize(x))

In [14]:
train_csv.head()

,id,keyword,location,text,target
0,1,,,"[Our, Deeds, are, the, Reason, of, this, earth...",1
1,4,,,"[Forest, fire, near, La, Ronge, Sask, Canada]",1
2,5,,,"[All, residents, asked, to, shelter, in, place...",1
3,6,,,"[13000, people, receive, wildfires, evacuation...",1
4,7,,,"[Just, got, sent, this, photo, from, Ruby, Ala...",1

In [15]:
train_csv['keyword'] = train_csv['keyword'].apply(lambda x: tokenize(x))
train_csv.tail()

,id,keyword,location,text,target
7608,10869,[],,"[Two, giant, cranes, holding, a, bridge, colla...",1
7609,10870,[],,"[ariaahrary, TheTawniest, The, out, of, contro...",1
7610,10871,[],,"[M194, 0104, UTC5km, S, of, Volcano, Hawaii, h...",1
7611,10872,[],,"[Police, investigating, after, an, ebike, coll...",1
7612,10873,[],,"[The, Latest, More, Homes, Razed, by, Northern...",1

In [16]:
train_csv.drop(columns = ['id'], inplace=True)